@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap')

@tailwind base
@tailwind components
@tailwind utilities

.lettersize
  height: 11in
  width: 8.5in
  background: #fff
  h1
    @apply text-2xl uppercase border-b border-b-charcoal pb-1 mb-3

.loader
  width: 16px
  height: 16px
  border-radius: 50%
  display: block
  margin:15px auto
  background: #FFF
  box-shadow: -24px 0 #FFF, 24px 0 #FFF
  box-sizing: border-box
  animation: shadowPulse 2s linear infinite


@keyframes shadowPulse
  33%
    background: #FFF
    box-shadow: -24px 0 #333333, 24px 0 #FFF
  66%
    background: #333333
    box-shadow: -24px 0 #FFF, 24px 0 #FFF
  100%
    background: #FFF
    box-shadow: -24px 0 #FFF, 24px 0 #333333